* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    justify-content: center;
}

button {
    margin: 1rem;
    padding: 1rem 1rem;
    border-radius: 20%;
}

h1 {
    margin: 8rem 0 2rem 0;
}

#score {
    justify-content: space-between;
    margin: 4rem 3rem 2rem 3rem;
    font-size: 20px;
}

.hidden {
    display: none;
}

.alignCenter {
    align-items: center;
    flex-direction: column;
}